@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    
    --primary: 77 162 255;
    --primary-hover: 25 136 255;
    --primary-inverted: 3 15 28 1;
    --primary-dark: 1 7 14;

    --negative: 236 46 80 1;
    --positive: 6 171 93;
    --white: 247 247 248;

    --secondary-hover: 247, 247, 248, 0.16;
    --border-classic: 247, 247, 248, 0.15;

    --content-primary: 247 247 248;
    --content-secondary: 171 189 204;
    --content-tertiary: 145 163 177;

    --background: 3 15 28;
    --background-dark: 1 7 14;
    --background-secondary: 247, 247, 248, 0.04;
    --background-tertiary: 247, 247, 248, 0.24;

    --spacing-XSmall: 0.5rem;
    --spacing-Small: 0.75rem;
    --spacing-Regular: 1rem;
    --spacing-Large: 1.5rem;
    --spacing-XLarge: 2rem;
  }
}

html {
  @apply bg-background-dark text-content-primary;
}
